@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    background-color: #252525;
    color: cornsilk;
}
h1.logo {
    color: blue;
    font-family: 'Poppins', sans-serif;
}
.navbar-inner h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
}
.navbar-inner {
    align-items: center;
    justify-content: space-around;
    height: 75px;
    display: flex;
    width: 90%;
    margin: 0 auto;
}
.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
} 
.home, 
.about, 
.services, 
.products, 
.contact {
text-decoration: none;
color: cornsilk;
font-size: 16px;
font-family: 'Poppins', sans-serif;
padding: 10px 20px;
margin: 0 10px;
cursor: pointer;
}
.signup {
    font-family: 'Poppins', sans-serif;
    background-color: blue;
    color: #FFF;
    font-weight: 600;
    font-size: 15px;
    padding: 12px;
    border: blue 1px solid;
    cursor: pointer;
    width: 130px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
  }
  .signup:hover {
    background-color: #FFF; 
    border: 1px solid darkblue; 
    color: #272727;
  }
/* .signup {
border: 1px solid cornsilk;
border-radius: 5px;
color: cornsilk;
padding: 12px;
text-decoration: none;
width: 120px;
font-family: 'Poppins', sans-serif;
text-align: center;
} */