@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  color: #272727;
  width: 90%;
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 35px;
  font-weight: 500;
}
h2 {
  font-size: 25px;
  font-weight: 500;
}
h3 {
font-size: 22px;
}
p {
  line-height: 1.9;
  font-family: 'Poppins', sans-serif;
}
.container {
  width: 90%;
  margin: 0 auto;
  padding: 50px;
}
.img-flex {
  display: flex;
}
.sliderWidth {width: 100%;}
.carousel .thumbs-wrapper {display: none;}
.carousel .slide .legend {  
  bottom: 20px !important;
  left: 0% !important;
  margin-left: 0% !important;
  width: 100% !important;
  border-radius: 0px !important;
  background: transparent !important;
  padding: 20px !important;
  font-size: 30px !important;
  font-family: 'Poppins', sans-serif;
  top: 12% !important;
  opacity: 1 !important;
  font-size: 65px !important;

}
.carousel .slider-wrapper {
  height: 450px;
}
.GridView .col {
  border: 1px solid #f2f2f2; 
  border-radius: 5px; 
  flex: 30% !important;
  max-width: 30% !important;
  padding: 10px !important; 
  margin: 10px !important;
  width: 30% !important;}
.GridView {
  margin-bottom: 50px;
}
input, textarea {
  font-family: 'Poppins';
  border: 1px solid #f2f2f2;
  padding: 25px 15px;
  font-family: 'Poppins', sans-serif;
  height: 50px;
  margin: 10px;
  width: 50%;
}
textarea {
  font-family: 'Poppins';
  height: 200px;
}
::placeholder {
  font-family: 'Poppins';
  font-size: 15px;
}
button {
  font-family: 'Poppins', sans-serif;
  background-color: blue;
  color: #FFF;
  font-weight: 400;
  font-size: 15px;
  padding: 6px 18px;
  border: blue 1px solid;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
}
button:hover {
  background-color: #FFF; 
  border: 1px solid darkblue; 
  color: #272727;
}
.breadcrumbbanner img {width: 100%;}
.img-flex p {padding-right: 20px;}
.GridView img, 
.img-flex img {
  border-radius: 5px; 
  border: 1px solid #f1f1f1;
}
.footer {
 background-color: darkslategray;
 color: #FFF;
 font-size: 12px;
 font-family: 'Poppins', sans-serif;
}
.footer 
.container {padding: 20px !important;}